.product-list {
  width: 30rem;
  max-width: 80%;
  margin: auto;
}

.product-list h2 {
  border-bottom: 3px solid #ccc;
  padding-bottom: 1rem;
  color: rgb(237, 191, 27);
}

.product-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-list p {
  color: rgb(239, 204, 128);
  font-style: italic;
}

.product-list li {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
  background-color: #e4df95;
  border-radius: 50px;
  
}
